<% if current_user.admin = true %>
  <div class="container-fluid container-padding">
    <h3 class="py-4">Crear nuevo proveedor</h3>
    <%= simple_form_for @provider do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.association :categories, collection: Category.all.order(:name), multiple: true %>
      <%= f.input :schedule %>
      <%= f.submit 'Crear', class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>
  <p>No tenés permitido crear proveedores!</p>
  <%= link_to "Home", root_path %>
<% end %>
