<div class="container-fluid container-padding provider">
  <%= image_tag "https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" %>
  <div class="container-fluid">
    <h1><%= @provider.name %></h1>
    <p><%= @provider.address %></p>
    <p><%= @provider.description %></p>
    <p><i class="fas fa-clock"></i> <%= @provider.schedule %></p>
    <p><i class="fas fa-truck"></i> <%= @provider.delivery %></p>
  </div>


  <!--Acá van a ir los servicios de cada proveedor-->

  <div class="row">
    <% @provider.services.each do |service| %>
      <div class="col-12 col-md-6">
        <div class="provider-service">
          <div>
            <h4 class="font-weight-bold"><%= service.name %></h4>
            <p><%= service.description %></p>
            <span id="provider-service-cost">$<%= service.cost %></span> <span>x invitado</span>
          </div>
          <%= image_tag 'https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
