<div class="container-fluid container-padding">
  <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="provider-img">
  <h1><%= @provider.name %></h1>
  <p><%= @provider.address %></p>
  <p><%= @provider.description %></p>
  <p><i class="fas fa-clock"></i> <%= @provider.schedule %></p>
  <p><i class="fas fa-truck"></i> <%= @provider.delivery %></p>
</div>
