<div class="container-fluid container-padding">
  <div class="bg-white px-3 py-3">
    <% if current_user.admin = true %>
      <h1>Proveedor: <%= @provider.name %></h1>
      <h3>Crear nuevo servicio</h3>
      <%= simple_form_for [@provider, @service] do |f| %>
        <%= f.input :name, label: "Nombre" %>
        <%= f.input :description, label: "Descripción" %>
        <%= f.input :cost, label: "Costo" %>
        <%= f.submit 'Crear servicio', class: "btn btn-primary my-4" %>
        <div>
          <%= link_to 'Volver al proveedor', provider_path(@provider) %>
        </div>
      <% end %>
    <% else %>
      <p>No tenés permitido crear nuevos servicios!</p>
      <%= link_to "Home", root_path %>
    <% end %>
  </div>
</div>
