<div class="container-fluid container-padding service">
  <%= image_tag "https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"%>
  <div class="bg-white px-3">
    <div class="container-fluid">
      <%= link_to provider_path(@provider) do %>
        <h2 class="pt-3">Proveedor: <%= @provider.name %></h2>
      <% end %>
      <h3><%= @service.name %></h3>
      <p><%= @service.description %></p>
      <span id="provider-service-cost">$<%= @service.cost %></span> <span>x invitado</span>
      <hr>
      <p class="font-weight-bold">INVITADOS</p>
      <%= simple_form_for @order do |f| %>
        <%= f.input :guests, label: "Invitados", as: :string, input_html: { id: "guests-input", value: "0" } %>
        <button id="less-btn">-</button>
        <button id="add-btn">+</button>
        <%= f.submit 'Comprar', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
