<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo-blanco', class: "navbar-logo" %>
    <% end %>
    <% if current_user %>
      <div class="d-flex">
        <%= image_tag 'pedidos.png', input_html: {id: "pedidos-img"} %>
        <p id="mis-compras">Mis compras</p>
      </div>
    <% elsif current_user.admin = true %>
      <%= link_to "Crear nuevo proveedor", new_provider_path %>
    <% else %>
      <%= link_to "Ingresar", new_user_session_path %>
    <% end %>
  </div>
</nav>
