<nav class="navbar navbar-light bg-light justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo-blanco.png', class: "navbar-logo" %>
    <% end %>
    <div class="d-flex">
      <ul class="navbar-nav pr-4">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to orders_path, class: "nav-link d-flex" do %>
              <%= image_tag 'pedidos.png' %>
              <p id="purchases">Mis compras</p>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="dropdown">
        <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? and current_user.admin == true %>
            <%= link_to "Crear nuevo proveedor", new_provider_path, class: "dropdown-item" %>
            <%= link_to 'Admin panel', admin_root_path, class: "dropdown-item" %>
            <%= link_to 'Log out',  destroy_user_session_path, class: "dropdown-item" %>
          <% elsif user_signed_in? %>
            <%= link_to 'Ver perfil', user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Ingresar", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
</nav>
