<div class="container-fluid container-devise">
  <h2 class="text-center">PlanIT</h2>
  <p class="text-center">Ingresar a la plataforma</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs devise-form">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: "Contraseña",
                  placeholder: "Mínimo 8 caracteres",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Registrarme", class: "btn btn-primary w-100 mt-2 mb-5" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>

</div>
